
pre {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.pointer {
  cursor: pointer;
}

.not-allow, .not-allowed {
  cursor: not-allowed;
}

.oneline-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
